@import '../../variables.scss';

.transaction {

  background-color: gray;

  opacity: 1;
  overflow: hidden;
  padding: 5px;
}

@media screen and (max-width: 500px) {

}

.block--new .transaction {
  opacity: 0;
}


.transaction.transaction--input {
  background-color: $transaction-contract-call !important;
}



.transaction.transaction--create {
  background-color: $transaction-contract-create !important;
}


.chain--decentraland .transaction.transaction--to {
  background-color: #E68346 !important;
}
